<section>
  <div class="w-full max-w-7xl mx-auto">
    <div class="text-center mb-5">
      <h2 class="text-4xl capitalize font-bold">
        {{ id ? "update video" : "add video" }}
      </h2>
    </div>
    <form
      #form="ngForm"
      (ngSubmit)="onFormSubmit()"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    >
      <!-- title  -->
      <div class="mb-4">
        <label
          for="title"
          class="block text-black text-sm font-bold mb-2 capitalize"
          >title</label
        >
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
          id="title"
          name="title"
          type="text"
          placeholder="Type here"
          [(ngModel)]="model().title"
          required
        />
      </div>

      <!-- content  -->
      <div class="mb-4">
        <label
          for="content"
          class="block text-black text-sm font-bold mb-2 capitalize"
          >content</label
        >
        <textarea
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black resize-y focus:outline-none focus:shadow-outline"
          id="content"
          name="content"
          placeholder="Type here"
          [(ngModel)]="model().content"
          required
          rows="5"
        ></textarea>
      </div>

      <!-- videoUrl  -->
      <div class="mb-4">
        <label
          for="videoUrl"
          class="block text-black text-sm font-bold mb-2 capitalize"
          >videoUrl</label
        >
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
          id="videoUrl"
          name="videoUrl"
          type="text"
          placeholder="Type here"
          [(ngModel)]="model().videoUrl"
          required
        />
      </div>

      <!-- category  -->
      <!-- <div class="mb-4">
        <label class="block text-black text-sm font-bold mb-2" for="category">
          category
        </label>
        <select
          name="category"
          id="category"
          [(ngModel)]="model().category"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
        >
          <option selected disabled hidden value="">Select Category</option>
          @for (option of categories; track $index) {
          <option [value]="option" class="capitalize">
            {{ option }}
          </option>
          }
        </select>
      </div> -->

      @if (loading()) {
      <button [disabled]="loading()" class="btn btn-error text-white">
        Processing...
      </button>
      } @else {
      <input
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        [value]="id ? 'Update' : 'Add'"
      />
      }
    </form>
  </div>

  @if (error()) {
  <div class="toast toast-top toast-end">
    <div class="alert alert-error">
      <span class="text-white">{{ error() }}</span>
    </div>
  </div>
  } @if (success()) {
  <div class="toast toast-top toast-end">
    <div class="alert alert-success">
      <span class="text-white">{{ success() }}</span>
    </div>
  </div>
  }
</section>
