<div
  (click)="openVideo()"
  class="card full bg-slate-100 shadow-xl cursor-pointer h-full rounded-sm"
>
  <figure>
    <img
      [src]="'https://img.youtube.com/vi/' + img() + '/maxresdefault.jpg'"
      class="w-full"
      [alt]="title()"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title text-center">{{ title() }}</h2>
    <p>{{ content().slice(0, 100) }}</p>
  </div>
</div>

@if(showVideoPopup){
<app-video-popup
  (closeVideo)="closeVideo()"
  [videoUrl]="'https://www.youtube.com/embed/' + videoId()"
></app-video-popup>
}
