<div
  class="fixed inset-0 bg-black bg-opacity-70 flex justify-center items-center z-[99999999]"
>
  <div class="bg-white p-8 rounded-lg w-fit">
    <button
      class="absolute top-0 right-0 m-4 text-white font-bold"
      (click)="closePopup()"
    >
      Close
    </button>
    <iframe
      class="w-[90vw] h-[80vh] lg:w-[1080px] lg:h-[720px]"
      [src]="safeVideoUrl"
      frameborder="0"
      allowfullscreen
    >
    </iframe>
    <!-- <iframe
      width="560"
      height="315"
      [src]="videoUrl"
      frameborder="0"
      allowfullscreen
      class="w-full"
    ></iframe> -->
  </div>
</div>
