<app-cover title="admin list" sub1="Dashboard" sub2="Admin"></app-cover>

<div class="container mx-auto flex justify-end mt-2">
  <a
    routerLink="add"
    class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded uppercase"
  >
    Add Admin
  </a>
</div>

@if (loading()) {
<div class="flex items-center justify-center h-full text-2xl text-rose-600">
  Loading...
</div>
} @else {
<div class="mt-4">
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-black uppercase border-b bg-gray-50"
          >
            <th class="px-4 py-3 hidden md:inline-block">SL</th>
            <th class="px-4 py-3 hidden sm:inline-block">username</th>
            <th class="px-4 py-3 max-w-18 md:max-w-12 min-w-12">Role</th>
            <th class="px-4 py-3">Create Date</th>
            <th class="px-4 py-3">Update Date</th>
            <th class="px-4 py-3 max-w-18 md:max-w-12 min-w-12">Edit</th>
            <th class="px-4 py-3 max-w-18 md:max-w-12 min-w-12">Delete</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y">
          @if (filterAdmins()) { @for (user of filterAdmins(); track $index) {
          <tr class="bg-gray-50 hover:bg-gray-100 text-black">
            <td class="px-4 py-3 text-xs hidden md:inline-block">
              {{ $index + 1 }}
            </td>
            <td class="px-4 py-3 text-xs hidden sm:inline-block">
              {{ user?.username }}
            </td>
            <td class="px-4 py-3 text-xs">{{ user?.role }}</td>
            <td class="px-4 py-3 text-xs">{{ transform(user?.createdAt) }}</td>
            <td class="px-4 py-3 text-xs">{{ transform(user?.updatedAt) }}</td>
            <td class="px-4 py-3 text-xs">
              <a
                [routerLink]="['edit', user?._id]"
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded mr-2 inline-block my-2"
              >
                Edit
              </a>
            </td>
            <td class="px-4 py-3 text-xs">
              <button
                class="text-rose-400 hover:bg-white px-1 rounded"
                (click)="onDelete(user?._id)"
              >
                Delete
              </button>
            </td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
    <div
      class="grid px-4 py-3 text-xs font-semibold tracking-wide text-black uppercase border-t bg-gray-50 sm:grid-cols-9"
    ></div>
  </div>
</div>
} @if (toast()) {
<div class="toast toast-top toast-end z-50">
  <div class="alert alert-success">
    <span class="text-white">{{ toast() }}</span>
  </div>
</div>
}
